.form__button{
  width: 344px;
  height: 48px;
  background: #5A3F98;
  border: 2px solid #5A3F98;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form__button:last-child{
  border: 2px solid #5A3F98;
  background: transparent;
  color: #5A3F98;
}

.form__button:disabled{
  background: #9397CB;
  border: 2px solid #9397CB;
  color: #fff;
}

.form__button:last-child:disabled{
  background: transparent;
  color: #9397CB;
}

@media screen and (max-width: 425px) {
  .form__button:last-child{
    margin-top: 24px;
  }
}
