.header__social{
  background-image: url(../../../images/vector2.png);
  align-self: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-right: 56px;
  transition: background-image 0.1s ease;
}

.header__social:hover, .header__social_active {
  background-image: url(../../../images/vector.png);
}

@media screen and (max-width: 425px) {
  .header__social{
    display: none;
  }
}
