.photo-right__content{
  width: 100%;
  max-width: 605px;
  align-self: flex-end;
}

@media screen and (max-width: 1024px){
  .photo-right__content{
    max-width: 500px;
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  .photo-right__content{
    max-width: 360px;
  }
}
