.footer__contacts{
  width: 100%;
  max-width: 807px;
  display: flex;
  margin: 0 auto;
  height: 151px;
  flex-flow: wrap;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1024px){
  .footer__contacts{
    max-width: 264px;
    height: 322px;
  }
}

@media screen and (max-width: 425px) {
  .footer__contacts{
    order: 2;
    height: 360px;
  }
}
