.slider__buttons{
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  max-width: 236px;
  align-items: center;
}

@media screen and (max-width: 1024px){
  .slider__buttons{
    align-self: center;
    max-width: 140px;
  }
}
