.form__container{
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 704px;
  margin: 0 auto;
  padding-top: 60px;
}

@media screen and (max-width: 425px) {
  .form__container{
    max-width: 328px;
  }
}
