.popup__input-money{
  border-bottom-color: #9397cb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right: none;
  border-top: none;
  border-left: none;
  margin-left: 20px;
  width: 160px;
  padding-bottom: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.popup__input-money_active{
  border: none;
  padding: 0;
}
