.form__error{
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #5a3f98;
  margin-bottom: 60px;
}

@media screen and (max-width: 425px) {
  .form__error{
    margin-bottom: 32px;
  }
}

.form__error-span{
  color: #ED180B;
  transition: .3s;
  padding-top: 8px;
  padding-bottom: 12px;
  opacity:  0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.form__input_invalid .form__error-span{
  opacity: 1;
}
