.button{
  border-radius: 4px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
