.photo-left__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .photo-left__container{
    flex-direction: column;
  }
}
